/* Coolors Exported Palette - coolors.co/ffffff-ffc39d-ff914d-868484-000000 */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(23%, 100%, 81%, 1);
$color3: hsla(23%, 100%, 65%, 1);
$color4: hsla(0%, 1%, 52%, 1);
$color5: hsla(0%, 0%, 0%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(255, 195, 157, 1);
$color3: rgba(255, 145, 77, 1);
$color4: rgba(134, 132, 132, 1);
$color5: rgba(0, 0, 0, 1);