/* Coolors Exported Palette - coolors.co/d7334e-2ebd4d-17a4db-5e44cd-ffcd45 */

/* HSL */
$color1: hsla(350%, 67%, 52%, 1);
$color2: hsla(133%, 61%, 46%, 1);
$color3: hsla(197%, 81%, 47%, 1);
$color4: hsla(251%, 58%, 54%, 1);
$color5: hsla(44%, 100%, 64%, 1);

/* RGB */
$color1: rgba(215, 51, 78, 1);
$color2: rgba(46, 189, 77, 1);
$color3: rgba(23, 164, 219, 1);
$color4: rgba(94, 68, 205, 1);
$color5: rgba(255, 205, 69, 1);